
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>订单状态</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!--      引入js-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body style="background-color: aliceblue">


<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="page-header">
                <h1>
                    <small>订单状态----------用户订单状态记录表</small>
                </h1>
            </div>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-12 column">
            <table class="table table-hover table-striped">
                <thead>
                <tr>
                    <th>订单编号</th>
                    <th>订单日期</th>
                    <th>付款状态</th>
                    <th>发货状态</th>
                    <th>收货状态</th>
                    <th>评论状态</th>
                </tr>
                </thead>
                <!--查询商品处理-->
                <tbody>
                <tr th:each="buylog:${orderList}">
                    <!--                    <td  th:text="${book.getBookId()}">编号</td>-->
                    <td th:text="${buylog.getUsId()}"></td>
                    <td th:text="${buylog.getIs_time()}"></td>
                    <td th:text="${buylog.getIs_pay()==0} ? '未付款':'已付款'"></td>
                    <td th:text="${buylog.getIs_fahuo()==0}? '未发货':'已发货'"></td>
                    <td th:text="${buylog.getIs_gain()==0} ? '未收货':'已收货'"></td>
                    <td th:text="${buylog.getIs_comment()==0} ? '未评论':'已评论'"></td>
                    <td>
                        <a class="btn btn-primary"  th:href="@{/shop/goodsList}" >去付款</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                        <a class="btn btn-primary" onclick="javascript:return p_del()"  th:href="@{/shop/fahuo(usId=${buylog.getUsId()})}" >催发货</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                        <a class="btn btn-primary" onclick="javascript:return p_del()"  th:href="@{/shop/gain(usId=${buylog.getUsId()})}" >去收货</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                        <a class="btn btn-primary"  th:href="@{/shop/buylogdetail(usId=${buylog.getUsId()})}" >去评论</a>


                    </td>

                </tr>
                </tbody>
            </table>
            <div class="col-md-3">
                <!--                <a class="btn btn-primary" th:href="@{/customer/torecharge}">充值</a>-->
                <a class="btn btn-primary" th:href="@{/customer/toIndexCustomer}">返回</a>
            </div>


        </div>
    </div>

</div>

<script>
    function p_del() {
        var msg = "请再次确认您的操作";
        if (confirm(msg)==true){
            return true;
        }else{
            return false;
        }
    }


</script>


</body>
</html>



